<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd">

    <!--  dao: -->
    <bean id="auditoriumDaoImpl" class="com.epam.spring.hometask.dao.hibernate.AuditoriumDaoImpl"/>
    <bean id="userDaoImpl" class="com.epam.spring.hometask.dao.hibernate.UserDaoImpl"/>

    <bean id="auditoriumDaoJPA" class="com.epam.spring.hometask.dao.JPA.AuditoriumDaoJPA"/>
    <bean id="userDaoJPA" class="com.epam.spring.hometask.dao.JPA.UserDaoJPA"/>


    <!--service:-->
    <bean id="auditoriumServiceImpl" class="com.epam.spring.hometask.service.impl.AuditoriumServiceImpl"/>
    <bean id="userServiceImpl" class="com.epam.spring.hometask.service.impl.UserServiceImpl"/>


</beans>